@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Content/zTree.min.css" rel="stylesheet" />
    <style>
        .ztree li span {
            font-size: 14px;
        }
    </style>
}
<!-- demo root element -->
<div id="app" class="box box-primary">
    <div class="box-header with-border">
        <ol class="breadcrumb" style="padding:0px;margin:1px;">
            <li><a href="/PurchaseContract/Index"><i class="fa fa-dashboard"></i>采购合同管理</a></li>
            <li class="active"><a href="/PurchaseContract/Create">新增采购合同</a></li>
        </ol>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form v-on:submit.prevent="onSubmit">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-warning btn-flat" v-bind:disabled="!valid">保 存</button>                    
                    <a class="btn btn-default btn-flat" href="/PurchaseContract/Index">取 消</a>
                </div>
            </div>
            <v-form v-bind:valid.sync="valid">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        <input type="hidden" v-model="model.id" />
                        <v-input type="text" label="采购合同名：" v-bind:value.sync="model.name" maxlength="30" placeholder="采购合同名" required icon></v-input>
                    </div> 
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">合同日期：</label>
                        <div class="input-group date" @*data-provide="datepicker"*@>
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                <span>从</span>
                            </div>
                            <input type="text" class="form-control datepicker" readonly>
                        </div>
                      
                    </div>
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">&nbsp;</label>
                        <div class="input-group date validate has-feedback has-error">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                <span>到</span>
                            </div>
                            <input type="text" class="form-control datepicker" readonly>
                            @*<span aria-hidden="true" class="glyphicon glyphicon-remove form-control-feedback"></span>*@
                        </div>           
                    </div>                  
                </div>
                <div class="row">
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">供应商：</label>
                        <div class="input-group">
                            <span class="input-group-addon">供应商*</span>
                            <select name="brand" class="form-control" v-model="searchArgs.supplierId">
                                <option value="0">-请选择-</option>
                                @foreach (var item in ViewBag.Suppliers)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4 col-xs-4">
                        <v-input type="text" label="联系人：" v-bind:value.sync="model.contact" placeholder="联系人" required icon></v-input>
                    </div>
                </div>                           
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <caption>
                                    <h3 class="panel-title"><button type="submit" class="btn btn-success btn-flat">导入商品明细</button><span></span> </h3>
                                </caption>
                                <thead>                                    
                                    <tr>
                                        <th style="width:30px;"></th>
                                        <th style="width:150px;">编码</th>
                                        <th>品名</th>
                                        <th>品类</th>
                                        <th>规格</th>
                                        <th>价格</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2016101101001</td>
                                        <td>娇子</td>
                                        <td>香烟</td>
                                        <td>20支</td>
                                        <td>129.12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                                       
                </div>
            </v-form>
        </div>
        <div class="box-footer">
            
        </div>
    </form>
    <!-- modal -->
    <v-modal title="选择区域" ok-text="确 定" cancel-text="取 消" v-bind:callback="selectedNode" v-bind:show.sync="modal" v-bind:effect="fade" width="300">
        <div slot="modal-body" class="modal-body">
            <div style="height:400px;overflow-y:auto">
                <ul id="ztree" class="ztree"></ul>
            </div>
        </div>
    </v-modal>
</div>
@section scripts{
    <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script>
        $("doucument").ready(function () {
            var demo = new Vue({
                components: {
                    'v-modal': VueStrap.modal,
                    'v-input': VueStrap.input,
                    'v-form': VueStrap.formGroup                   
                },
                el: '#app',
                data: {
                    valid: false,
                    modal: false,
                    model: {
                        id: 0,
                        name: '',
                        shortName: '',
                        contact: '',
                        phone: '',
                        bank: '',
                        bankAccount: '',
                        taxNo: '',
                        licenseNo: '',
                        areaId: '',
                        areaName: '',
                        startDate:'',
                    },
                },
                methods: {
                    onSubmit: function () {
                        //获取选择节点
                        var v_data = this.model;
                        $.post("/PurchaseContract/Create", v_data, function (result) {
                            if (result.success) {
                                bootbox.alert("保存成功！", function () {
                                    window.location.href = "/PurchaseContract/Index";
                                });
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                        }, "json");
                    },
                    selectedNode: function () {
                        var treeObj = $.fn.zTree.getZTreeObj("ztree");
                        var nodes = treeObj.getSelectedNodes();
                        if (nodes.length == 0) {
                            bootbox.alert("请选择品类");
                            return;
                        }
                        if (nodes[0].id.length / 2 < 3) //选中三级叶子节点
                        {
                            bootbox.alert("分类必须选到3级节点");
                            return;
                        }
                        // 设置 选中的分类
                        this.model.areaId = nodes[0].id;
                        this.model.areaName = nodes[0].text;
                        this.modal = false;
                    },
                    showArea: function () {
                        this.modal = true;
                    }
                }
            });
            var zTreeObj;
            // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        rootPId: 0
                    }
                },
                async: {
                    enable: true,
                    url: "/PurchaseContract/LoadChildArea",
                    type: 'get'
                },
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        //点击展开/折叠节点
                        var treeObj = $.fn.zTree.getZTreeObj("ztree");
                        var open = !treeNode.open;
                        treeObj.expandNode(treeNode, open, false, false);
                    }
                }
            };
            //异步加载
            zTreeObj = $.fn.zTree.init($("#ztree"), setting);

            // 日期选择器初始化
            $("input.datepicker").datepicker({
                format: "yyyy-mm-dd",
                endDate: new Date(),
                maxViewMode: 2,
                clearBtn: true,
                language: "zh-CN",
                autoclose: true              
            });
        });

        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }

    </script>
}




