@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/StoreInventory/Index"><i class="fa fa-dashboard"></i> 库存管理</a></li>
            </ol>
        </div>
        <div class="box-body">
            <vue-table v-ref:vtable v-bind:columns="gridColumns"
                       v-bind:url="url"
                       v-bind:args="searchArgs" v-bind:data.sync="rows" v-bind:show-sum="true" v-bind:sum="sumColumns">
                <div class="row" style="margin-bottom:10px;" slot="customSearch" >
                    @*<div class="col-xs-3 col-sm-2">
                            <input class="form-control" v-model="searchArgs.code" placeholder="单编号" debounce="500" />
                        </div>*@
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.productCodeOrBarCode" placeholder="商品编码/条码" debounce="500" />
                    </div>
                    @*<div class="col-sm-2 col-xs-3">
                        <div class="input-group ">
                            <input type="hidden" class="form-control" v-model="searchArgs.supplierId">
                            <input type="text" class="form-control" v-model="selectSupplier.name" placeholder="选择供应商" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-flat btn-default" type="button" v-on:click="showSupplier"><i class="fa fa-search"></i></button>
                                <button class="btn btn-flat btn-default" type="button" v-on:click="clearSupplier"><i class="fa fa-eraser"></i></button>
                            </span>
                        </div>
                    </div>*@
                    <div class="col-sm-2 col-xs-3">
                        <div class="input-group ">
                            <input type="hidden" class="form-control" v-model="searchArgs.storeId">
                            <input type="text" class="form-control" v-model="selectStore.name" placeholder="选择门店" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-flat btn-default" type="button" v-on:click="showStore"><i class="fa fa-search"></i></button>
                                <button class="btn btn-flat btn-default" type="button" v-on:click="clearStore"><i class="fa fa-eraser"></i></button>
                            </span>
                        </div>
                    </div>
                    @*<div class="form-group col-sm-2 col-xs-3">
                            <div class="input-group">
                                <span class="input-group-addon">状态</span>
                                <select name="brand" class="form-control" v-model="searchArgs.status">
                                    <option value="0">-请选择-</option>
                                    @foreach (var item in ViewBag.Status)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>*@
                </div>
                @*<span class="input-group-btn" slot="customButtons">
                        <a class="btn btn-warning btn-flat" href="/StoreInventory/Create">新 增</a>
                        <a class="btn btn-primary btn-flat" href="/StoreInventory/CreateGift">新增赠品单</a>
                        <button type="button" class="btn btn-success btn-flat" v-on:click="submitAudit()">提交审核</button>
                        <button type="button" class="btn btn-danger btn-flat" v-on:click="remove()">作 废</button>
                    </span>*@
            </vue-table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
    <!-- modal -->
    <v-modal title="作废原因" ok-text="确 定" cancel-text="取 消" v-bind:callback="callback" v-bind:show.sync="modal" v-bind:effect="fade" width="300">
        <div slot="modal-body" class="modal-body">
            <input type="hidden" v-model="selectedId" />
            <v-input type="textarea" v-bind:value.sync="removeReason" placeholder="请录入作废理由" required icon></v-input>
        </div>
    </v-modal>
    <v-modal title="选择供应商" ok-text="确 定" cancel-text="取 消" v-bind:callback="getSupplier" v-bind:show.sync="selectSupplier.modal" v-bind:effect="fade" width="60%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-bind:columns="selectSupplier.gridColumns"
                       v-bind:url="selectSupplier.url" v-bind:show-toolbar="false"
                       v-bind:args="selectSupplier.searchArgs" v-bind:data.sync="selectSupplier.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectSupplier.searchArgs.code" placeholder="输入供应编码" debounce="300" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectSupplier.searchArgs.name" placeholder="输入供应商名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
    <v-modal title="选择门店" ok-text="确 定" cancel-text="取 消" v-bind:callback="getStore" v-bind:show.sync="selectStore.modal" v-bind:effect="fade" width="60%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-bind:columns="selectStore.gridColumns"
                       v-bind:url="selectStore.url" v-bind:show-toolbar="false"
                       v-bind:args="selectStore.searchArgs" v-bind:data.sync="selectStore.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="searchArgs.code" placeholder="门店编码" debounce="500" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectStore.searchArgs.name" placeholder="门店名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
    <script>

        var vue = new Vue({
            components: {
                'v-modal': VueStrap.modal,
                'v-input': VueStrap.input
            },
            el: '#app',
            data: {
                modal: false,
                selectedId: 0,
                removeReason: '',
                searchQuery: '',
                gridColumns: [
                { name: 'StoreName', localName: '门店' },
                { name: 'ProductCode', localName: '商品编码', style: "<a href='/StoreInventory/Edit/{id}'>{column}</a>" },
                { name: 'BarCode', localName: '条码' },
                { name: 'ProductName', localName: '品名', width: '200' },
                { name: 'Specification', localName: '规格', width: '80' },
                { name: 'Quantity', localName: '库存数', width: '80' },
                { name: 'AvgCostPrice', localName: '平均成本', width: '100' },
                { name: 'Amount', localName: '金额', width: '100' }
                ],
                url: "/StoreInventory/LoadData",
                searchArgs: { supplierId: 0, storeId: 0, productCodeOrBarCode: '' },
                rows: [],
                sumColumns: [{name:'Quantity',dot:0},{name:'Amount',dot:4}],
                selectSupplier: {
                    modal: false,
                    name: '',
                    gridColumns: [
                        { name: 'Code', localName: '编码', width: '100' },
                        { name: 'Name', localName: '供应商名', width: '300' },
                        { name: 'AreaName', localName: '供货区域', width: '200' },
                        { name: 'SupplierType', localName: '类型', width: '100' },
                    ],
                    url: "/Supplier/LoadData",
                    searchArgs: { name: '', code: '' },
                    rows: []
                },
                selectStore: {
                    modal: false,
                    name: '',
                    gridColumns: [
                        { name: 'Code', localName: '门店编码' },
                        { name: 'Name', localName: '门店名' },
                        { name: 'FullName', localName: '区域', width: '200' }
                    ],
                    url: "/Store/LoadData",
                    searchArgs: { name: '' },
                    rows: []
                }
            },
            methods: {
                remove: function () {
                    var selectRow = this.rows.filter(function (item, index) {
                        if (item.checked) {
                            return true;
                        }
                    });
                    if (selectRow.length == 0) {
                        bootbox.alert("请选择一条记录");
                        return;
                    }
                    this.selectedId = selectRow[0].Id;
                    this.modal = true;
                },
                callback: function () {
                    var v_self = this;
                    var selectId = v_self.selectedId;
                    var remark = v_self.removeReason;
                    $.post("/StoreInventory/Delete", { id: selectId, reason: remark }, function (result) {
                        if (result.success) {
                            v_self.$refs.vtable.loadData();
                            v_self.modal = false;
                        }
                        else {
                            bootbox.alert(result.error);
                        }
                    }, "json");
                },
                submitAudit: function () {
                    var selectRow = this.rows.filter(function (item, index) {
                        if (item.checked) {
                            return true;
                        }
                    });
                    if (selectRow.length == 0) {
                        bootbox.alert("请选择一条记录");
                        return;
                    }
                    var selectId = selectRow[0].Id;
                    v_self = this;
                    bootbox.confirm("您确定提交该记录？", function (result) {
                        if (result) {
                            $.post("/StoreInventory/Submit", { id: selectId }, function (result) {
                                if (result.success) {
                                    v_self.$refs.vtable.loadData();
                                }
                                else {
                                    bootbox.alert(result.error);
                                }
                            }, "json");
                        }
                    });
                },
                showSupplier: function () {
                    this.selectSupplier.modal = true;
                },
                clearSupplier: function () {
                    this.searchArgs.supplierId = 0;
                    this.selectSupplier.name = "";
                },
                getSupplier: function () {
                    var selecteds = this.selectSupplier.rows.filter(function (item) {
                        return item.checked;
                    });
                    if (selecteds) {
                        this.searchArgs.supplierId = selecteds[0].Id;
                        this.selectSupplier.name = selecteds[0].Name;
                        this.selectSupplier.modal = false;
                    }
                },
                showStore: function () {
                    this.selectStore.modal = true;
                },
                clearStore: function () {
                    this.searchArgs.storeId = 0;
                    this.selectStore.name = "";
                },
                getStore: function () {
                    var selecteds = this.selectStore.rows.filter(function (item) {
                        return item.checked;
                    });
                    if (selecteds) {
                        this.searchArgs.storeId = selecteds[0].Id;
                        this.selectStore.name = selecteds[0].Name;
                        this.selectStore.modal = false;
                    }
                }
            }
        })

    </script>
}




