@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/Supplier/Index"><i class="fa fa-dashboard"></i> 供应商管理</a></li>
            </ol>
        </div>
        <div class="box-body">
            <vue-table v-ref:vtable v-bind:columns="gridColumns"
                       v-bind:url="url"
                       v-bind:args="searchArgs" v-bind:data.sync="rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.code" placeholder="输入供应编码" debounce="500" />
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.name" placeholder="输入供应商名" debounce="500" />
                    </div>
                </div>
                <span class="input-group-btn" slot="customButtons">
                    <a class="btn btn-warning btn-flat" href="/Supplier/Create">新 增</a>
                    <button type="button" class="btn btn-default btn-flat" v-on:click="remove()">删 除</button>
                </span>
            </vue-table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
    <script>

        var vue = new Vue({
            components: {
                'typeahead': VueStrap.typeahead
            },
            el: '#app',
            data: {
                searchQuery: '',
                gridColumns: [
                    { name: 'Code', localName: '编码', style: "<a href='/Supplier/Edit/{id}'>{column}</a>", width: '100' },
                    { name: 'Name', localName: '供应商名', width: '300' },
                    { name: 'SupplierType', localName: '类型', width: '100' },
                    { name: 'Contact', localName: '联系人' },
                    { name: 'Phone', localName: '电话' },
                    { name: 'QQ', localName: 'QQ' },

                ],
                url: "/Supplier/LoadData",
                searchArgs: { name: '', code: '' },
                rows: []
            },
            methods: {
                remove: function () { 
                    var idArray = new Array();
                    this.rows.forEach(function (item, index) {
                        if (item.checked) {
                            idArray.push(item.Id);
                        }
                    });
                    if (idArray.length == 0) {
                        bootbox.alert("请选择一条记录");
                        return;
                    }
                    var v_ids = idArray.join();
                    v_self = this;
                    bootbox.confirm("您确定删除该记录？", function (result) {
                        if (result) {
                            $.post("/Supplier/Delete", { ids: v_ids }, function (result) {
                                if (result.success) {
                                    v_self.$refs.vtable.loadData();
                                }
                                else {
                                    bootbox.alert(result.error);
                                }
                            }, "json");
                        }
                    });
                },
                googleCallback: function (items, targetVM) {
                    const that = targetVM;
                    that.reset()
                    that.value = items.Name;
                    this.searchArgs.code = that.value
                },
            }
        })

    </script>
}
