@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Content/zTree.min.css" rel="stylesheet" />
    <style>
        .ztree li span {
            font-size: 14px;
        }
    </style>
}
<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/Supplier/Product"><i class="fa fa-dashboard"></i>供应商商品</a></li>
                @*<li><a href="/Supplier/Product">供应商比价</a></li>*@
            </ol>
        </div>
        <div class="box-body">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">供应商商品查询</a></li>
                <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">比价结果查询</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- 供应商商品查询 -->
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-10 col-sm-10">
                            <vue-table v-ref:vtable v-bind:columns="gridColumns"
                                       v-bind:url="url"
                                       v-bind:args="searchArgs" v-bind:data.sync="rows" v-bind:show-pagination="showPage">
                                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                                    <div class="col-xs-2">
                                        <textarea class="form-control" v-model="searchArgs.codeOrBarCode" placeholder="商品编码/条码" debounce="500"></textarea>
                                        @*<input class="form-control" v-model="searchArgs.codeOrBarCode" placeholder="商品编码/条码" debounce="500" />*@
                                    </div>
                                    <div class="col-xs-2">
                                        <input class="form-control" v-model="searchArgs.name" placeholder="商品名称" debounce="500" />
                                    </div>
                                    <div class="form-group col-sm-2 col-xs-3">
                                        <div class="input-group ">
                                            <input type="hidden" class="form-control" v-model="searchArgs.brandId">
                                            <input type="text" class="form-control" v-model="selectBrand.name" placeholder="选择品牌" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn btn-flat btn-default" type="button" v-on:click="showBrand"><i class="fa fa-search"></i></button>
                                                <button class="btn btn-flat btn-default" type="button" v-on:click="clearBrand"><i class="fa fa-eraser"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="input-group ">
                                            <input type="hidden" class="form-control" v-model="searchArgs.supplierIds">
                                            <input type="text" class="form-control" v-model="selectSupplier.name" placeholder="选择供应商" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn btn-flat btn-default" type="button" v-on:click="showSupplier"><i class="fa fa-search"></i></button>
                                                <button class="btn btn-flat btn-default" type="button" v-on:click="clearSupplier"><i class="fa fa-eraser"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" slot="customButtons">
                                    <a class="btn btn-warning btn-flat" href="/Supplier/ImportProduct">导入商品</a>
                                    <button class="btn btn-success btn-flat" type="button" v-on:click="comparePrice()">比价</button>
                                </span>
                            </vue-table>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">品类查询&nbsp;&nbsp;<button class="btn btn-flat btn-warning" v-on:click="cancelSelect()">取消选择</button></div>
                                <div class="panel-body" style="padding:2px;overflow-y:auto">
                                    <ul id="ztree" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 比价结果查询 -->
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="col-xs-12 col-sm-12" style="margin-top:10px;">
                        <div class="table-responsive">
                            <table class="table table-bordered"> 
                                <caption>                                    
                                    <a href="/PurchaseContract/CreateContract/{{supplierId1}}" class="btn btn-flat btn-primary">与[{{supplierName1}}]签合同</a>
                                    <a href="/PurchaseContract/CreateContract/{{supplierId2}}" v-show="supplierId2>0" class="btn btn-flat btn-warning">与[{{supplierName2}}]签合同</a>
                                </caption>                              
                                <thead>
                                    <tr>
                                        <th style="width:30px;"></th>
                                        <th style="width:150px;"></th>
                                        <th></th>
                                        <th colspan="4" class="text-center">{{supplierName1}}</th>
                                        <th colspan="4" class="text-center">{{supplierName2}}</th>
                                    </tr>
                                    <tr>
                                        <th style="width:30px;"></th>
                                        <th style="width:150px;">编码</th>
                                        <th>品名</th>
                                        <th>比价</th>
                                        <th>供价</th>
                                        <th>供货状态</th>
                                        <th>比价状态</th>
                                        <th>比价</th>
                                        <th>供价</th>
                                        <th>供货状态</th>
                                        <th>比价状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(index,item) in products" >
                                        <td>{{index+1}}</td>
                                        <td>{{item.Code}}</td>
                                        <td>{{item.Name}}</td>
                                        <td style="cursor:pointer">
                                            <!--compareStatus==1 未比价，已比价-->
                                            <button type="button" class="btn btn-sm btn-flat btn-default" title="标记候选" v-show="item.CompareStatus1==1||item.CompareStatus1==4" v-on:click="mark(item.Id1,item.Id2)">
                                                <i class="fa fa-thumbs-o-up">候选</i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-default" title="取消候选" v-show="item.CompareStatus1==2" v-on:click="unMark(item.Id1,item.Id2)">
                                                <i class="fa fa-thumbs-o-down">取消</i>
                                            </button>
                                        </td>
                                        <td v-bind:class="{'text-danger':item.textColor1,'bg-success':item.bgColor1}">{{item.Price1}}</td>
                                        <td v-bind:class="{'bg-success':item.bgColor1}">{{item.SupplyStatus1}}</td>
                                        <td v-bind:class="{'bg-success':item.bgColor1}">
                                            <div class="btn btn-sm btn-success btn-flat" v-show="item.CompareStatus1==2">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>  
                                            <div class="btn btn-sm btn-danger btn-flat" v-show="item.CompareStatus1==3">
                                                <span class="glyphicon glyphicon-remove bg-red"></span>
                                            </div> 
                                            {{item.ComparePriceStatus1}}
                                        </td>
                                        <td style="cursor:pointer">
                                            <button type="button" class="btn btn-sm btn-flat btn-default" title="标记候选" v-show="item.CompareStatus2==1||item.CompareStatus2==4" v-on:click="mark(item.Id2,item.Id1)">
                                                <i class="fa fa-thumbs-o-up">候选</i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-default" title="取消候选" v-show="item.CompareStatus2==2" v-on:click="unMark(item.Id2,item.Id1)">
                                                <i class="fa fa-thumbs-o-down">取消</i>
                                            </button>
                                        </td>
                                        <td v-bind:class="{'text-danger':item.textColor2,'bg-success':item.bgColor2}">{{item.Price2}}</td>
                                        <td v-bind:class="{'bg-success':item.bgColor2}">{{item.SupplyStatus2}}</td>
                                        <td v-bind:class="{'bg-success':item.bgColor2}">
                                            <div class="btn btn-sm btn-success btn-flat" v-show="item.CompareStatus2==2">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                            <div class="btn btn-sm btn-danger btn-flat" v-show="item.CompareStatus2==3">
                                                <span class="glyphicon glyphicon-remove bg-red"></span>
                                            </div> 
                                            {{item.ComparePriceStatus2}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
              
        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
    <v-modal title="选择品牌" ok-text="确 定" cancel-text="取 消" v-bind:callback="getBrand" v-bind:show.sync="selectBrand.modal" v-bind:effect="fade" width="50%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-bind:columns="selectBrand.gridColumns"
                       v-bind:url="selectBrand.url" v-bind:show-toolbar="false"
                       v-bind:args="selectBrand.searchArgs" v-bind:data.sync="selectBrand.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectBrand.searchArgs.name" placeholder="品牌名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
    <v-modal title="选择供应商" ok-text="确 定" cancel-text="取 消" v-bind:callback="getSupplier" v-bind:show.sync="selectSupplier.modal" v-bind:effect="fade" width="60%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-bind:columns="selectSupplier.gridColumns"
                       v-bind:url="selectSupplier.url" v-bind:show-toolbar="false"
                       v-bind:args="selectSupplier.searchArgs" v-bind:data.sync="selectSupplier.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectSupplier.searchArgs.code" placeholder="输入供应编码" debounce="300" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectSupplier.searchArgs.name" placeholder="输入供应商名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
    <script>
        $("doucument").ready(function () {
            var vue = new Vue({
                components: {
                    'v-modal': VueStrap.modal,
                    'v-input': VueStrap.input
                },
                el: '#app',
                data: {
                    gridColumns: [
                        { name: 'Name', localName: '商品名', style: "<a href='/Product/Edit/{id}'>{column}</a>", width: '200' },
                        { name: 'Code', localName: '编码',width:'100' },
                        { name: 'BarCode', localName: '条码' },
                        { name: 'CategoryName', localName: '品类',width:'300' },
                        { name: 'BrandName', localName: '品牌',width:'100' },
                        { name: 'Specification', localName: '规格',width:'100' },
                        { name: 'SupplierName', localName: '供应商',width:'200' },
                        { name: 'Price', localName: '供价',width:'80'  },
                        { name: 'SupplyStatus', localName: '状态',width:'80'  },
                        { name: 'NickName', localName: '创建人',width:'100' },

                    ],
                    url: "/Supplier/LoadSupplierProducts",
                    searchArgs: { name: '',codeOrBarCode:'',categoryId:'',brandId:0, supplierIds: '',},
                    rows: [],
                    showPage:false,
                    products:[],  // 供应商比价
                    supplierName1:'',
                    supplierName2:'',
                    supplierId1:0,
                    supplierId2:0,
                    checkAll1:false,
                    checkAll2:false,
                    selectBrand: {
                        modal: false,
                        name: '',
                        gridColumns: [
                           { name: 'Id', localName: '编码' },
                            { name: 'Name', localName: '名称' }
                        ],
                        url: "/Brand/LoadData",
                        searchArgs: { name: '' },
                        rows: []
                    },
                    selectSupplier: {
                        modal: false,
                        name: '',
                        gridColumns: [
                            { name: 'Code', localName: '编码', width: '100' },
                            { name: 'Name', localName: '供应商名', width: '300' },
                            { name: 'SupplierType', localName: '类型', width: '100' },
                        ],
                        url: "/Supplier/LoadData",
                        searchArgs: { name: '', code: '' },
                        rows: []
                    },
                },
                methods: {
                    remove: function (index) {
                        this.products.splice(index,1); 
                    },
                    comparePrice:function(){
                        var _self = this;
                        if(this.supplierId1==0)
                        {
                            bootbox.alert("请至少选择一个供应商");return;
                        }
                        var idArray =new Array();
                        this.rows.forEach(function (item, index) {
                            if (item.checked) {
                                idArray.push(item.ProductId);
                            }
                        });
                        var selectedProductIds = idArray.join();
                        var model ={
                            supplierId1:this.supplierId1,
                            supplierId2:this.supplierId2,
                            productIds:selectedProductIds
                        };
                        $.get("/Supplier/QuerySupplierProductCompare", model, function (result) {
                            if (result.success) {
                                _self.products = [];
                                result.data.forEach(function (item,index) {                                  
                                    var obj ={
                                        bgColor1:item.CompareStatus1==2,                                     
                                        bgColor2:item.CompareStatus2==2,                                     
                                        checked1:false,
                                        checked2:false
                                    }
                                    var row = Object.assign({}, obj, item);
                                    _self.products.push(row);
                                });
                                 $('#myTab a[href="#profile"]').tab('show');
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                        }, "json");
                    },                   
                    mark:function(id1,id2)
                    {
                        _self= this;
                        $.post("/Supplier/MarkWaitSuppply", {markId:id1,unMarkId:id2}, function (result) {
                            if (result.success) {
                                _self.comparePrice();
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                        }, "json");
                    },   
                    unMark:function(id1,id2)
                    {
                        _self= this;
                        $.post("/Supplier/UnMarkWaitSuppply", {markId:id1,unMarkId:id2}, function (result) {
                            if (result.success) {
                                _self.comparePrice();
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                        }, "json");
                    },    
                    cancelSelect:function(){
                        var treeObj = $.fn.zTree.getZTreeObj("ztree");
                        var nodes = treeObj.getSelectedNodes();
                        if (nodes.length>0) {
                            treeObj.cancelSelectedNode(nodes[0]);
                        }
                        vue.searchArgs.categoryId ="";
                    },                 
                    showBrand: function () {
                        this.selectBrand.modal = true;
                    },
                    clearBrand: function () {
                        this.searchArgs.BrandId = 0;
                        this.selectBrand.name = "";
                    },
                    getBrand: function () {
                        var selecteds = this.selectBrand.rows.filter(function (item) {
                            return item.checked;
                        });
                        if (selecteds) {
                            this.searchArgs.BrandId = selecteds[0].Id;
                            this.selectBrand.name = selecteds[0].Name;
                            this.selectBrand.modal = false;
                        }
                    },
                    showSupplier: function () {
                        this.selectSupplier.modal = true;
                    },
                    clearSupplier: function () {
                        this.searchArgs.supplierIds = '';
                        this.selectSupplier.name = "";
                    },
                    getSupplier: function () {
                        var idArray = new Array();
                        var nameArray = new Array();
                        var selecteds = this.selectSupplier.rows.filter(function (item) {
                            if(item.checked){
                                idArray.push(item.Id);
                                nameArray.push(item.ShortName);
                            }
                            return item.checked;
                        });
                        if (selecteds) {                            

                            this.searchArgs.supplierIds = idArray.join();
                            this.selectSupplier.name = nameArray.join();
                            this.selectSupplier.modal = false;
                            if(idArray.length>=1)
                            {
                                this.supplierId1 =idArray[0];
                                this.supplierName1 =nameArray[0];                                                          
                            }
                            if(idArray.length>=2)
                            {
                                this.supplierId2 =idArray[1];    
                                this.supplierName2 =nameArray[1];
                            }
                           
                        }
                    },                    
                },
                watch:{
                    'checkAll1':function(val,oldValue)
                    {
                        var self = this;
                        var isChecked = val;
                        this.products.forEach(function (item, index) {
                            item.checked1 = isChecked;
                            if(isChecked){item.checked2= false;}
                            self.products.$set(index, item);
                        });
                        if(isChecked) this.checkAll2 = false;
                        
                    },
                    'checkAll2':function(val,oldValue)
                    {
                        var self = this;
                        var isChecked = val;
                        this.products.forEach(function (item, index) {
                            item.checked2 = isChecked; 
                            if(isChecked){item.checked1= false;}
                            self.products.$set(index, item);
                        });
                        if(isChecked) this.checkAll1 = false;
                    },
                }

            });

            var zTreeObj;
            // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                    }
                },
                callback:{
                    onClick:function(event, treeId, treeNode){
                        //点击展开/折叠节点
                        var treeObj = $.fn.zTree.getZTreeObj("ztree");
                        var open = !treeNode.open;
                        treeObj.expandNode(treeNode, open, false, false);
                        vue.searchArgs.categoryId =treeNode.id;
                    }
                }
            };
            // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
            var zNodes =@Html.Raw(ViewBag.Tree) ;
            zTreeObj = $.fn.zTree.init($("#ztree"), setting, zNodes);
        })



    </script>
}




