@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/Account/Index"><i class="fa fa-dashboard"></i>账户管理</a></li>
                @*<li class="active">Dashboard</li>*@
            </ol>
        </div>
        <div class="box-body">
            <vue-table v-ref:vtable v-bind:columns="gridColumns"
                       v-bind:url="url"
                       v-bind:args="searchArgs" v-bind:data.sync="rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.id" placeholder="工号" debounce="500" />
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.userName" placeholder="账户名" debounce="500" />
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.nickName" placeholder="姓名" debounce="500" />
                    </div>
                    <div class="form-group col-sm-2 col-xs-3">
                        <div class="input-group ">
                            <input type="hidden" class="form-control" v-model="searchArgs.storeId">
                            <input type="text" class="form-control" v-model="selectStore.name" placeholder="选择门店" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-flat btn-default" type="button" v-on:click="showStore"><i class="fa fa-search"></i></button>
                                <button class="btn btn-flat btn-default" type="button" v-on:click="clearStore"><i class="fa fa-eraser"></i></button>
                            </span>
                        </div>
                    </div> 
                    <div class="form-group col-xs-3 col-sm-2">
                        <label class="open checkbox success active">
                            <input type="checkbox" v-model="searchArgs.storeId" v-bind:true-value="0" v-bind:false-value="-1" />总公司                           
                        </label>                       
                    </div>  
                </div>
                <span class="input-group-btn" slot="customButtons">
                    <a class="btn btn-warning btn-flat" href="/Account/Create">新 增</a>
                    <button type="button" class="btn btn-default btn-flat" v-on:click="reset()">重置密码</button>
                    <button type="button" class="btn btn-default btn-flat" v-on:click="disabled()">禁 用</button>
                    <button type="button" class="btn btn-default btn-flat" v-on:click="actived()">激 活</button>
                </span>
            </vue-table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
    <v-modal title="选择门店" ok-text="确 定" cancel-text="取 消" v-bind:callback="getStore" v-bind:show.sync="selectStore.modal" v-bind:effect="fade" width="50%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-bind:columns="selectStore.gridColumns"
                       v-bind:url="selectStore.url" v-bind:show-toolbar="false"
                       v-bind:args="selectStore.searchArgs" v-bind:data.sync="selectStore.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectStore.searchArgs.name" placeholder="输入门店名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
    <script>

        // bootstrap the demo
        var demo = new Vue({
            components: {
                'v-modal': VueStrap.modal,
                'v-input': VueStrap.input
            },
            el: '#app',
            data: {
                searchQuery: '',
                gridColumns: [
                    { name: 'Id', localName: '工号' },
                    { name: 'UserName', localName: '账户名', style: "<a href='/Account/Edit/{id}'>{column}</a>" },
                    { name: 'NickName', localName: '姓 名' },
                    { name: 'RoleName', localName: '角色名' },
                    { name: 'StoreName', localName: '门店' },
                    { name: 'StatusName', localName: '状态' },
                    { name: 'LoginErrorCount', localName: '登录失败次数' },
                    { name: 'CreatedOn', localName: '创建时间',width:'200' },
                ],
                url: "/Account/LoadData",
                searchArgs: { id: null, userName: '', nickName: '', storeId:-1 },
                rows: [],
                selectStore: {
                    modal: false,
                    name: '',
                    gridColumns: [
                       { name: 'Name', localName: '门店名' },
                        { name: 'Contact', localName: '联系人' },
                        { name: 'Address', localName: '地址' }
                    ],
                    url: "/Store/LoadData",
                    searchArgs: { name: '' },
                    rows: []
                }
            },
            methods: {
                reset: function () {
                    var row = this.getSelectRow();
                    var v_self = this;
                    var v_id = row.Id;
                    bootbox.confirm("您确将账号[" + row.UserName + "]密码重置为123456？", function (result) {
                        if (result) {
                            $.post("/Account/ResetPassword", { id: v_id }, function (result) {
                                if (result.success) {
                                    v_self.$refs.vtable.loadData();
                                }
                                else {
                                    bootbox.alert(result.error);
                                }
                            }, "json");
                        }
                    });
                },
                disabled: function () {
                    var row = this.getSelectRow();
                    var v_self = this;
                    var v_id = row.Id;
                    bootbox.confirm("您确将账号[" + row.UserName + "]禁用？", function (result) {
                        if (result) {
                            $.post("/Account/Disabled", { id: v_id }, function (result) {
                                if (result.success) {
                                    v_self.$refs.vtable.loadData();
                                }
                                else {
                                    bootbox.alert(result.error);
                                }
                            }, "json");
                        }
                    });
                },
                actived: function () {
                    var row = this.getSelectRow();
                    var v_self = this;
                    var v_id = row.Id;
                    bootbox.confirm("您确将账号[" + row.UserName + "]激活？", function (result) {
                        if (result) {
                            $.post("/Account/Actived", { id: v_id }, function (result) {
                                if (result.success) {
                                    v_self.$refs.vtable.loadData();
                                }
                                else {
                                    bootbox.alert(result.error);
                                }
                            }, "json");
                        }
                    });
                },
                getSelectRow: function () {
                    var row = 0;
                    this.rows.forEach(function (item, index) {
                        if (item.checked) {
                            row = item;
                            return;
                        }
                    });
                    if (row == 0) {
                        bootbox.alert("请选择一条记录");
                        return;
                    }
                    return row;
                },
                showStore: function () {
                    this.selectStore.modal = true;
                },
                clearStore: function () {
                    this.searchArgs.storeId = 0;
                    this.selectStore.name = "";
                },
                getStore: function () {
                    var selecteds = this.selectStore.rows.filter(function (item) {
                        return item.checked;
                    });
                    if (selecteds) {
                        this.searchArgs.storeId = selecteds[0].Id;
                        this.selectStore.name = selecteds[0].Name;
                        this.selectStore.modal = false;
                    }
                }

            }
        })

    </script>
}








