@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">          
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/Store/Index"><i class="fa fa-dashboard"></i> 门店管理</a></li>             
            </ol>
        </div>
        <div class="box-body">
            <vue-table v-ref:vtable v-bind:columns="gridColumns"
                       v-bind:url="url"
                       v-bind:args="searchArgs" v-bind:data.sync="rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.code" placeholder="门店编码" debounce="500" />
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="searchArgs.name" placeholder="门店名" debounce="500" />
                    </div>
                </div>
                <span class="input-group-btn" slot="customButtons">
                    <a class="btn btn-warning btn-flat" href="/Store/Create">新 增</a>
                    <button type="button" class="btn btn-default btn-flat" v-on:click="remove()">删 除</button>
                </span>
            </vue-table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
    <script>
      
        var vue = new Vue({
            el: '#app',
            data: {
                searchQuery: '',
                gridColumns: [
                    { name: 'Code', localName: '门店编码', style: "<a href='/Store/Edit/{id}'>{column}</a>" },
                    { name: 'Name', localName: '门店名' },                   
                    { name: 'Contact', localName: '联系人' },
                    { name: 'Phone', localName: '电话' },
                    { name: 'FullName', localName: '区域', width: '200' },
                    { name: 'Address', localName: '地址' },
                    { name: 'CreatedOn', localName: '创建时间',width:'200' },

                ],
                url: "/Store/LoadData",
                searchArgs: {code:'', name: '' },
                rows: []
            },
            methods: {
                remove: function () {
                    var v_ids = "";
                    this.rows.forEach(function (item, index) {
                        if (item.checked) {
                            v_ids = item.Id + ",";
                        }
                    });
                    if (v_ids == "") {
                        bootbox.alert("请选择一条记录");
                        return;
                    }
                    v_ids = v_ids.substring(0, v_ids.length - 1);
                    v_self = this;
                    bootbox.confirm("您确定删除该记录？", function (result) {
                        if (result) {
                            $.post("/Store/Delete", { ids: v_ids }, function (result) {
                                if (result.success) {
                                    v_self.$refs.vtable.loadData();
                                }
                                else {
                                    bootbox.alert(result.error);
                                }
                            }, "json");
                        }
                    });
                }
            }
        })

    </script>
}

